body{
    background:linear-gradient(120deg,#c2b6dd ,#89c8db,#e4acf1);
}
.box {
    background-color: #ccc;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

/* Style for the container */
.container {
  padding: 20px;
}

/* Style for the title */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 50%;
}

/* Style for the content */
.content {
    padding: 10px 0;
}

/* Style for form elements */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
input[type="date"] {
    display: flex;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% / 2 - 20px);
    
}
/* 
form .form-group {
    display: flex;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% / 2 - 20px);
} */
input[type="submit"] {
    padding: 10px 20px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
table {
    border-collapse: collapse;
}

th {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    border: 1px solid black;
    border-collapse: collapse;
}

.column {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15PX;
    align-items: center;
}



.dlt {
    margin: 5px;
    width: 80px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dlt:hover {
    transform: scale(0.99);
    background-color: #fa3c3caf;
}

.upd {
    margin: 5px;
    width: 90px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #1e90ff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.upd:hover {
    transform: scale(0.99);
    background-color: #00bfff;
}
.ins {
    margin: 5px;
    width: 90px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #309d21;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ins:hover {
    transform: scale(0.99);
    background-color: #7adf6c;
}
.btn {
    border-collapse: collapse;
    align-items: center;
}
.sub-con{
    display:flex;
    justify-content: space-between;
    
}